#content {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%; 
  width: 75%;
  font-family: 'Nunito', sans-serif;
  font-size: 25px; 
}

#greeting-container {
  margin-top: 20px;
}

h1 {
    font-size: 60px; 
    font-family: 'Quicksand', sans-serif; 
    margin-bottom: 0; 
}

h2 {
    font-size: 45px; 
    font-family: 'Quicksand', sans-serif; 
    text-align: center; 
}

#header {
    display: flex; 
    justify-content: space-around;
}

#profile {
    border-radius: 100%;
    width: 60%;
}

#left {
    display: flex; 
    justify-content: center; 
    align-items:center; 
    width: 35%;
}

#right {
    display: flex; 
    flex-direction: column; 
    width: 65%; 
}

#gallery {
    display: flex; 
    justify-content: center;
    width: 100%; 
}

.column {
    display: flex;
    flex-direction: column; 
    margin-right: 10px;
    margin-left: 10px;
    width: 24%; 
}

.location {
    position: relative;
    margin-bottom: 10px; 
    width: 100%; 
}

.locationImg {
    width: 100%; 
}

.locationLabel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99; 
    display: none; 
    font-weight: bold; 
}