html,
body {
  font: 20px 'Nunito', sans-serif;
  height: 100%;
  margin: 0;
  width: 100%;
}

h1 {
  font: 55px 'Quicksand', sans-serif;
  margin-bottom: 0;
}

h2 {
  font: 40px 'Quicksand', sans-serif;
  padding-top: 8vh;
  text-align: center;
}

section {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  min-height: 100%;
  width: 80%;
}

.section-descr {
  text-align: center;
}

/* Nav Bar */

#nav-bar {
  align-items: center;
  background-color: #9cc2ff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  display: flex;
  height: 8vh;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

#nav-bar a {
  color: white;
  font-size: 3.5vh;
  margin: 0 30px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

#nav-bar a:hover {
  transform: scale(1.05);
}

/* Profile Header */

#header {
  display: flex;
  justify-content: space-around;
}

#profile {
  border-radius: 100%;
  width: 60%;
}

#left {
  align-items:center;
  display: flex;
  justify-content: center;
  width: 35%;
}

#right {
  display: flex;
  flex-direction: column;
  width: 65%;
}

#links a {
  color: #9cc2ff;
  font-size: 3.5vh;
  padding: 0 25px 0 0;
  text-decoration: none;
}

a i {
  transition: all 0.2s ease-in-out;
}

a i:hover {
  transform: scale(1.2);
}

/* About Section */

.list-item {
  display: flex;
  margin: 15px 0;
}

.description-container {
  align-items: center;
  display: flex;
  width: 50%;
}

.img-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 45%;
}

.about-img {
  border-radius: 5%;
  height: 15vh;
  margin: 5px 5px 20px 0;
}

/* Gallery */

#gallery {
  display: flex;
  justify-content: center;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  margin-left: 10px;
  width: 24%; 
}

.location {
  margin-bottom: 10px; 
  position: relative;
  width: 100%; 
}

.location-img {
  transition: all 0.2s ease-in-out;
  width: 100%;
}

.location-img:hover {
  transform: scale(1.02);
}

.location-label {
  display: none;
  font-weight: bold;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
} 

@media only screen and (min-height: 750px) {
  body {
    font-size: 25px;
  }

  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 45px;
  }

  #nav-bar {
    height: 6vh;
  }

  #nav-bar a {
    font-size: 2.5vh;
  }

  #links a {
    font-size: 2.5vh;
  }
}

/* Hiking Section */

#hiking-map {
  height: 50vh;
  margin: 0 auto;
  width: 50vw;
}

h3 {
  margin-top: 0;
  text-align: center;
}

.info-window-img {
  display: block;
  margin: 0 auto;
  width: 40%;
}

/* Chart Section */

#chart-container {
  display: flex;
  justify-content: center;
}

/* Comment Section */ 

#comment-section {
  width: 100%;
}

form {
  display: flex;
  justify-content: center;
  margin: 15px 0;
}

form p {
  margin: 0;
}

#input-section {
  width: 100%;
}

#name-input {
  font: 1rem 'Nunito', sans-serif;
  width: 20%;
}

textarea {
  font: 1rem 'Nunito', sans-serif;
  width: 100%;
}

.required {
  color: red; 
}

input:focus, 
textarea:focus {
  box-shadow: 0 0 5px 0 #5e9ed6;
  outline: none; 
}

button,
select {
  background-color: #ddd;
  border: 1px solid grey;
  border-radius: 0.25rem;
  font-size: 1rem;
  margin: 0 1rem 0.5rem 0;
  padding: 0.35rem 0.75rem;
}

button:hover,
select:hover {
	background-color: #ccc;
  cursor: pointer;
}

#comment-button {
  background-color: #9cc2ff;
  border: 1px solid #9cc2ff;
  border-radius: 0.25rem;
  color: white;
  font-size: 1rem;
  padding: 0.35rem 0.75rem;
}

#comment-button:hover {
  background-color: #98bbf5;
  border-color: #98bbf5;
  cursor: pointer;
}

#display-user{
  border-radius: 0.25rem;
  font: 1rem 'Nunito', sans-serif;
  margin: 0 1rem 0.5rem 0;
  padding: 0.35rem 0.75rem;
}

.comment-div {
  margin: 15px 0;
}

.user-attr {
  font-weight: bold;
}

.del-attr {
  background-color: #eb4034;
  color: white;
  float: right;
  margin: 0 0 0 15px;
  padding: 0.1rem 0.2rem;
}

.del-attr:hover {
  background-color: #cc352b;
  border-color: #cc352b;
}

.date-attr {
  float: right;
  font-style: italic;
}

.content-attr {
  margin: 0;
}

.score-attr {
  font-style: italic;
  margin: 0;
}